option_settings:
  "aws:elasticbeanstalk:container:python":
    NumProcesses: 1
    NumThreads: 1
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 1
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
    
container_commands:
  01mkdir:
    command: "mkdir -p /home/wsgi"
  02chown:
    command: "chown wsgi:wsgi /home/wsgi"
  03chmod:
    command: "chmod u+xwr -R /home/wsgi"
  04chmod:
    command: "chmod u+xwr -R /opt/python/ondeck/app"
  05downloadmodel:
    command: "./download-model.sh"